:root{
    --default-font-size: 1.2rem;
    --title-font-size: 2.4rem;
    --button-font-size: 1.6rem;
    --bg: #000000;
    --spoken: #FFFFFF;
    --metatext: #FFFFFF;
    --onlinegirl-text: #FFFFFF;
    --onlinefriend-text: #00A2E8;
    --border: #FFFFFF;
    --textbox-width: 75%;
    --current-width: 40vw;
  }

@media screen and (max-width: 940px){
    :root{
        --current-width: 90vw;
    }
}

html{
	background-color: var(--bg);
    color: var(--metatext);
    font-family: 'Quicksand';
}

body{
    position: relative;
    display: flex;
    height: 95vh;
    font-size: var(--default-font-size);
    padding: 2.5vh;
    margin: 0;
    justify-content: center;
}

.page{
    max-width: var(--current-width);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panelhousing{
    max-width: var(--current-width);
}

.panel{
    border: var(--border) solid .1rem;
    max-width: var(--current-width);
}

.title{
    font-size: var(--title-font-size);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.subtitle{
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.spoken{
    color: var(--spoken);
}

.left{
    width: var(--textbox-width);
    margin-left: 0;
    margin-right: auto;
    overflow-wrap: break-word;
}

.right{
    text-align: right;
    width: var(--textbox-width);
    margin-left: auto;
    margin-right: 0;
    overflow-wrap: break-word;
}

.onlinegirl{
    color: var(--onlinegirl-text);
}

.onlinefriend{
    color: var(--onlinefriend-text);
}

.btncluster{
    display: flex;
    justify-content: space-around;
    width: var(--current-width);
}

.btn{
    text-align: center;
    font-size: var(--button-font-size);
    color: var(--text);
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: block;
}

.btn:visited{
    color: var(--text);
}

.footer{
    font-size: .6rem;
    color: #999999;
}