:root{
    --default-font-size: 1.2rem;
    --title-font-size: 2.4rem;
    --bg: #000000;
    --text: #FFFFFF;
    --border: #FFFFFF;
  }
html{
	background-color: var(--bg);
    color: var(--text);
    font-family: 'Quicksand';
}

body{
    text-align: left;
    font-size: var(--default-font-size);
}

.title{
    font-size: var(--title-font-size);
    text-align: center;
}

.subtitle{
    text-align: center;
}

.panelhousing{
    text-align: center;
    padding-top: 2rem;
}

.panel{
    border: var(--border) solid .1rem;
    max-height: 60vh;
    max-width: auto;
}