:root{
    --default-font-size: 1.2rem;
    --title-font-size: 2.4rem;
    --next-font-size: 1.6rem;
    --bg: #000000;
    --text: #FFFFFF;
    --border: #FFFFFF;
  }
html{
	background-color: var(--bg);
    color: var(--text);
    font-family: 'Quicksand';
}

body{
    position: relative;
    display: flex;
    height: 95vh;
    font-size: var(--default-font-size);
    padding: 2.5vh;
    margin: 0;
    justify-content: center;
}

.panel{
    border: var(--border) solid .1rem;
    max-width: 50vw;
}

@media screen and (max-width: 1282px){
    .panel{
        max-width: 90vw;
    }
    
}

.title{
    font-size: var(--title-font-size);
    text-align: center;
}

.subtitle{
    text-align: center;
}

.page{
    max-width: 50vw;
    text-align: left;
}

.onlinegirl {
    width: 60%;
    margin-left: 0;
    margin-right: auto;
    overflow-wrap: break-word;
}

.maninthelight {
    text-align: right;
    width: 60%;
    overflow-wrap: break-word;
    margin-right: 0;
    margin-left: auto;
}

.btn{
    text-align: center;
    font-size: var(--next-font-size);
    color: var(--text);
}

.btn:visited{
    font-size: var(--next-font-size);
    color: var(--text);
}